buildframework/helium/tools/common/schema/helium_config.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">    <xs:element name="build">        <xs:complexType>            <xs:sequence>                <xs:element ref="spec"/>            </xs:sequence>        </xs:complexType>    </xs:element>    <xs:element name="set">        <xs:complexType>            <xs:attribute name="name" type="xs:string" use="required"/>            <xs:attribute name="value" type="xs:string"/>        </xs:complexType>    </xs:element>    <xs:element name="spec">        <xs:complexType>            <xs:sequence>                <xs:element ref="set" minOccurs="0" maxOccurs="unbounded"/>                <xs:element ref="spec" minOccurs="0" maxOccurs="unbounded"/>            </xs:sequence>            <xs:attribute name="name" type="xs:string"/>            <xs:attribute name="abstract" type="xs:boolean"/>            <xs:attribute name="type">                <xs:simpleType>                    <xs:restriction base="xs:NMTOKEN">                        <xs:enumeration value="checkout"/>                        <xs:enumeration value="snapshot"/>                        <xs:enumeration value="flash"/>                        <xs:enumeration value="core"/>                        <xs:enumeration value="languagepack"/>                        <xs:enumeration value="customer"/>                    </xs:restriction>                </xs:simpleType>            </xs:attribute>        </xs:complexType>    </xs:element></xs:schema>