imgtools/buildrom/tools/featureuids.dtd.bak

<!--
 Copyright (c) 2005-2009 Nokia Corporation and/or its subsidiary(-ies).
 All rights reserved.
 This component and the accompanying materials are made available
 under the terms of the License "Symbian Foundation License v1.0"
 which accompanies this distribution, and is available
 at the URL "http://www.symbianfoundation.org/legal/sfl-v10.html".

 Initial Contributors:
 Nokia Corporation - initial contribution.

 Contributors:

 Description:

-->

<!ELEMENT featureuids   (features,default)>
<!ELEMENT features      (feature+)>
<!ELEMENT feature       EMPTY>

<!ATTLIST feature
        name            CDATA #REQUIRED
        uid             CDATA #REQUIRED
        installable     (true|false) #IMPLIED>

<!ELEMENT default       (range+)>
<!ELEMENT range         EMPTY>
<!ATTLIST range
        min             CDATA #REQUIRED
        max             CDATA #REQUIRED
        support         (include|exclude) #REQUIRED>
        
